[build]
builder = "nixpacks"

[deploy]
startCommand = "python start_server.py"
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 100
restartPolicyType = "on-failure"
restartPolicyMaxRetries = 3

[build.nixpacksPlan]
providers = ["python"]

[build.nixpacksVersions]
python = "3.11"
